# Rules that display info text when kernel detect a new keyboard

ACTION=="add", ATTR{bInterfaceClass}=="03", ATTR{bInterfaceProtocol}=="01", SUBSYSTEM=="usb", RUN+="/usr/sbin/insmod '/home/gchopin/Documents/Little_Penguin/Assignment_04/main.ko'"
